<section id="apoia" class="container">
  <div class="row apoia-header">
    <nav>
      <ul class="ul-apoio">
        <li><a class="active titulo" href="apoio" >Apoiados</a></li>
        <li><a class="apoiar" href="apoiadores">Apoiadores</a></li>
      </ul>
    </nav>
  </div>
  
  <% for( let apoiado of apoiados  ) { %>
    
    <div class="row apoia">
      <img src="/img/profile-img/<%=apoiado.apoiado.avatar%>" class=" rounded-circle" alt="jandira">
      <div class="col ">
        <h2 class="subtitulo"><%=apoiado.apoiado.nome%></h2>
        <h3 class="texto"><%=apoiado.apoiado.curso.descricao.slice(0,17)%>...</h3>
      </div>
      <div class="col">
        <input type="button" value="Apoiado" data-apoiado_id="<%=apoiado.apoiado.id%>" class=btn-1-l data-target="#modalDeApoiados" onclick="abrirModal(this)">
      </div>
    </div>
    
    <% } %>
    
    
    <%- include('./model-apoiados') -%>
    
    
  </section>