<section id="aulas-recentes" class="container-fluid">
  <div class="row aulas-header">
    <div class="col">
      <h1>Aulas Recentes</h1>
      <div class="tipo-aula">
        <label class="texto">Aulas Ministradas</label>
        <i class="fas fa-chevron-right" onclick="location.href='/users/perfil'"></i>
      </div>
    </div>
  </div>
  
  <% for( let aula of aulas ) { %>
    
    <div class="aula">
      <img src="/img/profile-img/<%=aula.perfil_aluno.avatar%>" class="rounded-circle" alt="avatar">
      <div class="col">
        <h2 class="texto"><%=aula.titulo_aula%></h2>
        <h3 class="subtitulo"><%=aula.perfil_aluno.nome%></h3>
      </div>
      
      <div>
        <input type="button" data-aula_id="<%=aula.id%>" onclick="definirAulaId(this)" value="Avaliar" class=btn-0-d data-toggle="modal" data-target="#modalAvaliar" >
      </div>
    </div>
    
    <% } %>
    
    
    <div class="aulas-footer">
      <div align="center">
        <input type="button" value="Ver Todas" class=btn-2-d onclick="location.href='/users/perfil'">
      </div>
    </div>
    <%- include('./modal-avaliar') -%>
    
    
  </section>