<section id="conquistas-usuario" class="container">
  <div class="header">
    <h1>Conquistas de <%=perfil.nome%></h1>
  </div>

  <div class="conquistas-div-interna">
    <ul class="conquistas-div-interna-ul-1">
      <li>
        <span class="icone"><i class="fas fa-award"></i></span>
        <span class="numero"><%=perfil.qtd_medalhas%></span> Medalhas
      </li>
      <li>
        <span class="icone"><i class="fas fa-coins"></i></span>
        <span class="numero"><%=perfil.qtd_moedas%></span> Moedas
      </li>
      <li>
        <span class="icone"><i class="fas fa-star"></i></span>
        <span class="numero"><%=perfil.nota_professor%></span> Nota Professor
      </li>
    </ul>

    <ul class="conquistas-div-interna-ul-2">
      <li>
        <span class="icone"><i class="fas fa-university"></i></span>
        <span class="numero"><%=perfil.horas_ensino%>h</span> Ensinando
      </li>
      <li>
        <span class="icone"><i class="fas fa-book-reader"></i></span>
        <span class="numero"><%=perfil.horas_estudo%>h</span> Aprendendo
      </li>
      <li>
        <span class="icone"><i class="fas fa-star"></i></span>
        <span class="numero"><%=perfil.nota_aluno%></span> Nota Aluno
      </li>
    </ul>
  </div>
</section>