<section id="notificacoes" class="container-fluid">
    <div class="row notificacoes-header">
      <div class="col-titulo">
        <h1>Últimas mensagens</h1>
      </div>
     <div class="col-botaomensagem">
      <input type="button" value="Nova Mensagem" class=btn-2-d data-toggle="modal" data-target="#modalNovaMensagem">
      </div>
    </div>
  
  <% for( lista of mensagens) { %>
    <div class="aula" data-toggle="modal" data-target="#modalMensagem"
      data-idMensagemUsuario="<%=lista.perfil_msg.id%>" onclick="requisitarUsuario(this)">
      <img src="/img/profile-img/<%=lista.perfil_msg.avatar%>" class="rounded-circle" alt="aecio">
      <div class="col">
        <p><strong><%=lista.perfil_msg.nome%> </strong> <%=lista.mensagem.slice(0,28)%> </p>
      </div>
    </div>
  <% } %>
  
  <!-- Modal enviar mensagem-->
  <%- include('../includes/modal-mensagem')-%>
  
  </section>