<!-- Modal -->

<div class="modal fade" id="modalEditarPerfil" tabindex="-1" role="dialog" aria-labelledby="postModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
  <form action="/users/perfil" method="POST" enctype="multipart/form-data">
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Descartar">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
        <!-- <section class="post-feed container">-->
          <header class="header" id="header">
            <div class="imagem-background capa" style="background-image: url(/img/profile-img/<%=perfil.capa%>);">
              <div class="header-avatar">
                <img src="/img/profile-img/<%=perfil.avatar%>" alt="avatar" class="avatar">
              </div>
            </div>
          </header>

          <input type="file" hidden name="avatar" id="avatar" accept=".jpg, .png">
          <input type="file" hidden name="capa" id="capa" accept=".jpg, .png">
          
          <div class="detalhes-dados">
            
            <div class="user-info row">
              <div class="informacoes-do-usuario col-lg-4 col-sm-12">
                <label for="nome" class="texto">Nome</label>
                <input type="text" name="nome" id="nome" class="texto" class="texto" placeholder="Nome Sobrenome"
                  value="<%=perfil.nome%>" required>
                
                <label for="faculdade" class="texto">Instituição de ensino</label>
                <select name="instituicao_ensino_id" id="faculdade" class="texto"
                placeholder="Nome da Faculdade" required>
                <% for( let faculdade of faculdades) { %>
                  <option value="<%=faculdade.id%>" class="texto" <% if (perfil.instituicao.id == faculdade.id) { %> selected <% } %>
                    ><%=faculdade.descricao%></option>
                <% } %>
              </select>
              
             
              <label for="cidade" class="texto">Cidade</label>
              <input list="cidades" name="cidade_id" id="cidade" class="texto" placeholder="Sao Paulo"
                value="<%=perfil.cidade.cod_cidades%> - <%=perfil.cidade.nome%>" required>
              <datalist id="cidades">
                <option value="16 - Rio Branco">
                <option value="109 - Maceió">
                <option value="307 - Macapá">
                <option value="243 - Manaus">
                <option value="988 - Salvador">
                <option value="297 - Fortaleza">
                <option value="1778 - Brasília">
                <option value="2048 - Vitória">
                <option value="2174 - Goiânia">
                <option value="6661 - São Luiz">
                <option value="4347 - Cuiabá">
                <option value="58 - Campo Grande">
                <option value="2754 - Belo Horizonte">
                <option value="42 - Belém">
                <option value="4964 - João Pessoa">
                <option value="6015 - Curitiba">
                <option value="959 - Recife">
                <option value="5721 - Teresina">
                <option value="7043 - Rio de Janeiro">
                <option value="7221 - Natal">
                <option value="7994 - Porto Alegre">
                <option value="7352 - Porto Velho">
                <option value="7471 - Boa Vista">
                <option value="8452 - Florianópolis">
                <option value="9668 - São Paulo">
                <option value="8770 - Aracajú">
                <option value="9899 - Palmas">
                <option value="2204 - Itumbiara">
              </datalist>
                    
                  </div>
                  
                  <div class="informacoes-do-usuario col-lg-4 col-sm-12">
                    
                    <label for="curso" class="texto">Curso</label>
                    <select name="curso_id" id="curso" class="texto" placeholder="Qual seu curso" required>
                      <% for( let curso of cursos) { %>
                        <option value="<%=curso.id%>"
                          <% if (perfil.curso.id == curso.id) { %> selected <% } %> ><%=curso.descricao%></option>
                      <% } %>
                    </select>
                    
                    <label for="turma" class="texto">Turma</label>
                    <input type="number" name="turma" id="turma" class="texto" placeholder="2020" value="<%=perfil.turma%>">
                  
                  <label for="qtd-moedas-cobrado" class="texto">Qtd. de moedas cobrado/h</label>
                  <input type="number" name="quantidade_moedas" id="qtd-moedas-cobrado"
                    class="texto" placeholder="2" value="<%=perfil.quantidade_moedas%>" max="3"
                    maxlength="1" required>
                  
                  </div>
                  
                  <div class="informacoes-do-usuario col-lg-4 col-sm-12">
                    
                    <label for="meio-aprendizado" class="texto">Aprender via</label>
                    <select name="metodo_ensino_id" id="meio-aprendizado" class="texto" required>
                      <option value="1" class="texto" <% if (perfil.metodo_aprendizado_id == 1) { %> selected <% } %>>Online</option>
                      <option value="2" class="texto" <% if (perfil.metodo_aprendizado_id == 2) { %> selected <% } %>>
                        Presencial</option>
                      <option value="3" class="texto" <% if (perfil.metodo_aprendizado_id == 3) { %> selected <% } %>>
                        Presencial e Online</option>
                    </select>
                    
                    <label for="meio-aprendizado" class="texto">Ensinar via</label>
                    <select name="metodo_aprendizado_id" id="meio-aprendizado" class="texto" required>
                      <option value="1" class="texto" <% if (perfil.instituicao_ensino_id == 1) { %> selected <% } %>>
                        Online</option>
                      <option value="2" class="texto" <% if (perfil.instituicao_ensino_id == 2) { %> selected <% } %>>
                        Presencial</option>
                      <option value="3" class="texto" <% if (perfil.instituicao_ensino_id == 3) { %> selected <% } %>>
                        Presencial e Online</option>
                    </select>
                    
                    <label for="telefone" class="texto">Telefone de contato</label>
                    <input type="tel" id="telefone" class="texto" placeholder="(00) 99999-9999" name="celular" value="<%=perfil.celular%>">
                  </div>
                  
                  
                </div>
                <div>
                  <textarea name="bio" rows="2" placeholder="Seu objetivo aqui ..." class="texto bio"
                  maxlength="250" style="width: 100%;" required id="input-objetivo"><%=perfil.bio%></textarea>
                  <div class="quantidade-caracteres">
                    <p class="texto" id="limite-caracteres">250</p>
                  </div>
                </div>
                
              </div>
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-2-l" data-dismiss="modal">Cancelar</button>
  <button type="submit" class="btn btn-2-d">Salvar</button>
  </div>
  </form>
  </div>
  </div>
  </div>
  <script src="/js/perfil.js"></script>