<!--INICIO DO MODAL MENSAGEM-->
<div class="modal fade" id="modalMensagem" tabindex="-1" role="dialog" aria-labelledby="msgModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="msgModalLabel">Enviar Mensagem</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Descartar">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <!-- <section class="msg-feed container">-->
        <header class="msg-feed-header">
          <div class="msg-feed-header-avatar">
            <img src="/img/kate.jpg" alt="">
          </div>
          <div id="username-div">
            <h1 class="user-name subtitulo">....</h1>
          </div>
        </header>
        
        <article class="msg-feed-article">
          <div class="user-info">
            <div class="informacoes-do-msg">
              <div class="informacoes-do-msg-mensagens">
                
                <!--LISTAR MENSAGENS -->
                <ul class="informacoes-do-msg-mensagens-ul">
                  <div class="mais-mensagens-anterior">
                    <span><i class="fas fa-chevron-up"></i></span>
                  </div>
                  <li class="msg">
                    <h2 class="subtitulo">
                      User
                    </h2>
                    <cite class="texto">
                      Mussum Ipsum...
                    </cite>
                    <time class="horario">
                      04.05.2050 19:00h
                    </time>
                  </li>
                  
                </ul>
              </div>
            </div>
            <textarea rows="4" placeholder="Sua mensagem aqui ..." class="texto texto-msg" id="text-area-mensagem-modal"
            maxlength="250" onkeyup="atualizarLimitCaracteresMsg(this, 'limite-caracteres-img1')"></textarea>
            <div class="quantidade-caracteres">
              <p class="texto" id="limite-caracteres-img1">250</p>
            </div>
          </div>
        </article>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-2-l" data-dismiss="modal">Descartar</button>
        <button type="button" class="btn btn-2-d" onclick="tentarEnviarMsg()">Enviar</button>
      </div>
    </div>
  </div>
</div>
<!--FIM DO MODAL MENSAGEM-->



<!--INICIO DO MODAL MENSAGEM--> 
<div class="modal fade" id="modalNovaMensagem" tabindex="-1" role="dialog" aria-labelledby="msgModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="msgModalLabel">Enviar Mensagem</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Descartar">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <!-- <section class="msg-feed container">-->
        <!-- <form class="form-inline my-2 my-lg-0" id="buscar-destinatarios">
          <input class="form-control mr-sm-2 texto input-buscar-amigos" type="search" placeholder="Buscar destinatário"
          aria-label="Search">
          <button class="btn-0-l" type="submit"><i class="fas fa-search"></i></button>
        </form> -->
        
        <header class="msg-feed-header">
          <div class="lista-de-amigos">
            <div class="anterior">
              <i class="fas fa-chevron-left"></i>
            </div>
            <ul class="msg-ul-amigos">
               <% for( let apoiador of apoiadores  ) { %>
                <li onclick="definirIdDestinarioMensagem(this)" data-id="<%=apoiador.apoiador.id%>">
                  <div class="msg-feed-header-avatar">
                    <img src="/img/profile-img/<%=apoiador.apoiador.avatar%>" alt="imagem">
                    <h1 class="user-name"><%=apoiador.apoiador.nome%></h1>
                  </div>
                </li>
               <% } %> 
              <% for( let apoiado of apoiados  ) { %>
              <li onclick="definirIdDestinarioMensagem(this)" data-id="<%=apoiado.apoiado.id%>">
                <div class="msg-feed-header-avatar">
                  <img src="/img/profile-img/<%=apoiado.apoiado.avatar%>" alt="">
                  <h1 class="user-name"><%=apoiado.apoiado.nome%></h1>
                </div>
              </li>
              <% } %>
            </ul>
            <div class="proximo">
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
        </header>
        <form method="POST" action="/users/mensagem">
          <input type="hidden" id="mensagem_usuario_id" name="mensagem_usuario_id" value="<%=perfil.id%>">
          <input type="hidden" id="mensagem_destinatario_id" name="mensagem_destinatario_id">
        <article class="msg-feed-article">
          <div class="user-info">
            
            <textarea name="mensagem" rows="7" placeholder="Sua mensagem aqui ..." class="texto texto-msg"
            maxlength="250" onkeyup="atualizarLimitCaracteresMsg(this, 'limite-caracteres-img2')" required></textarea>
            <div class="quantidade-caracteres">
              <p class="texto" id="limite-caracteres-img2">250</p>
            </div>
          </div>
        </article>
      <div class="modal-footer">
        
        <input type="reset" class="btn btn-2-l" data-dismiss="modal" value="Descartar">
        <input type="submit" class="btn btn-2-d" value="Enviar">
      </div>
      </form>
      </div>
    </div>
  </div>
</div>

<script src="/js/scroll-users-mensagens.js"></script>
<!--FIM DO MODAL MENSAGEM-->