<!-- Modal -->
<!--INICIO DO MODAL APRENDER-->
<div class="modal fade" id="modalAprender" tabindex="-1" role="dialog" aria-labelledby="postModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form method="POST" action="/users/postagem" enctype="multipart/form-data">
        
        <input type="hidden" name="categoria_id" value="3">
        <input type="file" name="imagem" hidden id="input_upload_aprender">
        
        <div class="modal-header">
          <h5 class="modal-title" id="postModalLabel">Criar Publicação</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Descartar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- <section class="post-feed container">-->
            <header class="post-feed-header">
              <div class="post-feed-header-avatar">
                <img src="/img/profile-img/<%=perfil.avatar%>" alt="Avatar">
              </div>
              <div>
                <h1 class="user-name subtitulo"><%=perfil.nome%></h1>
                <h2 class="user-estudo texto"><%=perfil.curso.descricao%></h2>
              </div>
            </header> 
            
            <article class="post-feed-article">
              <div class="img-post" id="img_upload_aprender">
                <!-- <img src="/img/estudando.jpg" alt=""> -->
                <i class="far fa-image"></i>
              </div>
              <div class="user-info"> 
                <div class="informacoes-do-post">
                  <div>
                    <input type="text" placeholder="Titulo" class="titulo titulo-modal" name="titulo" required>
                    <h2 class="subtitulo">#Quero aprender</h2>
                  </div>
                  <div>
                    <input type="hidden" name="urgente" value="0" id="input-urgente-aprender">
                    <input type="button" value="urgente" class="btn-urgente" id="btn-Urgente-aprender">
                  </div>
                </div>
                <textarea name="descricao" rows="4" placeholder="Seu texto aqui ..." class="texto texto-post" maxlength="250" required></textarea>
                <div class="quantidade-caracteres">
                  <p class="texto">250</p>
                </div>
              </div>
            </article>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-2-l" data-dismiss="modal">Descartar</button>
            <input type="submit" class="btn btn-2-d" value="Publicar">
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--FIM DO MODAL APRENDER-->
  
  
  <!--INICIO DO MODAL APRENDENDO-->
  <div class="modal fade" id="modalAprendendo" tabindex="-1" role="dialog" aria-labelledby="postModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <form method="POST" action="/users/postagem" enctype="multipart/form-data">

        <input type="hidden" value="2" name="categoria_id">
        <input type="file" name="imagem" id="input_upload_aprendendo" hidden>

        <div class="modal-header">
          <h5 class="modal-title" id="postModalLabel">Criar Publicação</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Descartar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- <section class="post-feed container">-->
            <header class="post-feed-header">
              <div class="post-feed-header-avatar">
                <img src="/img/profile-img/<%=perfil.avatar%>" alt="Avatar">
              </div>
              <div>
                <h1 class="user-name subtitulo"><%=perfil.nome%></h1>
                <h2 class="user-estudo texto"><%=perfil.curso.descricao%></h2>
              </div>
            </header>
            
            <article class="post-feed-article">
              
              <div class="img-post" id="img_upload_aprendendo">
                <!-- <img src="/img/estudando.jpg" alt=""> -->
                <i class="far fa-image"></i>
              </div>
              <div class="user-info">
                <div class="informacoes-do-post">
                  <div>
                    <input type="text" placeholder="Titulo" class="titulo titulo-modal" name="titulo" required>
                    <h2 class="subtitulo">#Estou aprendendo</h2>
                  </div>
                  
                </div>
                <textarea name="descricao" rows="4" placeholder="Seu texto aqui ..." class="texto texto-post"
                maxlength="250" required></textarea>
                <div class="quantidade-caracteres">
                  <p class="texto">250</p>
                </div>
              </div>
              
            </article>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-2-l" data-dismiss="modal">Descartar</button>
            <input type="submit" class="btn btn-2-d" value="Publicar">
          </div>

        </form>

      </div>
    </div>
  </div>
  <!--FIM DO MODAL APRENDENDO-->
  
  
  <!--INICIO DO MODAL ENSINAR--> 
  <div class="modal fade" id="modalEnsinar" tabindex="-1" role="dialog" aria-labelledby="postModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="postModalLabel">Criar Publicação</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Descartar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <section class="post-feed container">-->
          <header class="post-feed-header">
            <div class="post-feed-header-avatar">
              <img src="/img/profile-img/<%=perfil.avatar%>" alt="Avatar">
            </div>
            <div>
              <h1 class="user-name subtitulo"><%=perfil.nome%></h1>
              <h2 class="user-estudo texto"><%=perfil.curso.descricao%></h2>
            </div>
          </header>
          
          <article class="post-feed-article">
            <div class="img-post">
              <!-- <img src="/img/estudando.jpg" alt=""> -->
              <i class="far fa-image"></i>
            </div>
            <div class="user-info">
              <div class="informacoes-do-post">
                <div>
                  <input type="text" placeholder="Titulo" class="titulo titulo-modal" name="titulo-modal-ensinar">
                  <h2 class="subtitulo">#Quero ensinar</h2>
                </div>
                
                <div class="btn-urgente texto"><i class="fas fa-coins"></i> 0 Moedas</div>
                <div class="btn-normal texto"><i class="far fa-clock"></i> Duração</div>
                
              </div>
              <textarea name="" rows="4" placeholder="Seu texto aqui ..." class="texto texto-post"
              maxlength="250"></textarea>
              <div class="quantidade-caracteres">
                <p class="texto">250</p>
              </div>
            </div>
          </article>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-2-l" data-dismiss="modal">Descartar</button>
          <button type="button" class="btn btn-2-d">Publicar</button>
        </div>
      </div>
    </div>
  </div>
  <!--FIM DO MODAL ENSINAR-->
  
  
  <!--INICIO DO MODAL ENSINANDO-->
  <div class="modal fade" id="modalEnsinando" tabindex="-1" role="dialog" aria-labelledby="postModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="postModalLabel">Criar Publicação</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Descartar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <section class="post-feed container">-->
          <header class="post-feed-header">
            <div class="post-feed-header-avatar">
              <img src="/img/profile-img/<%=perfil.avatar%>" alt="Avatar">
            </div>
            <div>
              <h1 class="user-name subtitulo"><%=perfil.nome%></h1>
              <h2 class="user-estudo texto"><%=perfil.curso.descricao%></h2>
            </div>
          </header>
          
          <article class="post-feed-article">
            <div class="img-post">
              <!-- <img src="/img/estudando.jpg" alt=""> -->
              <i class="far fa-image"></i>
            </div>
            <div class="user-info">
              <div class="informacoes-do-post">
                <div>
                  <input type="text" placeholder="Titulo" class="titulo titulo-modal" name="titulo-modal-ensinando">
                  <h2 class="subtitulo">#Estou ensinando</h2>
                </div>
                
              </div>
              <textarea name="" rows="4" placeholder="Seu texto aqui ..." class="texto texto-post"
              maxlength="250"></textarea>
              <div class="quantidade-caracteres">
                <p class="texto">250</p>
              </div>
            </div>
          </article>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-2-l" data-dismiss="modal">Descartar</button>
          <button type="button" class="btn btn-2-d">Publicar</button>
        </div>
      </div>
    </div>
  </div>
  <!--FIM DO MODAL ENSINANDO-->
  
  
  <!--INICIO DO MODAL MOBILE-->
  <div class="modal fade" id="modalMobile" tabindex="-1" role="dialog" aria-labelledby="postModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      
      <form action="/users/postagem" method="post" enctype="multipart/form-data">
        <input type="file" name="imagem" hidden id="input_file_mobile">
        
        <div class="modal-header">
          <h5 class="modal-title" id="postModalLabel">Criar Publicação</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Descartar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- <section class="post-feed container">-->
            <header class="post-feed-header">
              <div class="post-feed-header-avatar">
                <img src="/img/profile-img/<%=perfil.avatar%>" alt="Avatar">
              </div>
              <div>
                <h1 class="user-name subtitulo"><%=perfil.nome%></h1>
                <h2 class="user-estudo texto"><%=perfil.curso.descricao%></h2>
              </div>
            </header>
            
            <article class="post-feed-article">
              <div class="img-post" id="imagem_upload_mobile">
                <!-- <img src="/img/estudando.jpg" alt=""> -->
                <i class="far fa-image" id="icon_img_mobile"></i>
              </div>
              <div class="user-info">
                <div class="informacoes-do-post">
                  <div>
                    
                    <!-- <h2 class="subtitulo">#Estou-Ensinando</h2> -->
                    <div class="form-group">
                      <!-- <label for="sel1">Select list:</label> -->
                      <select class="form-control" id="categoria" name="categoria_id" required>
                        <option value="3">#Quero aprender</option>
                        <option value="2">#Estou aprendendo</option>
                        <option value="4">#Quero ensinar</option>
                        <option value="1">#Estou ensinando</option>
                      </select>
                    </div>
                    <div>
                      <input type="text" placeholder="Titulo" class="titulo titulo-modal" name="titulo" required>
                      <input type="hidden" name="urgente" value="0" id="input-urgente-mobile">
                      <input type="button" value="urgente" class="btn-urgente" id="btn-Urgente">
                    </div>
                    <div class="dados-ensinar display-none" id="detalhesEnsinar">
                      <div class="info-moeda">
                        <input type="button" value="-" id="btn-menos-moeda">
                        <input type="button" value="0 moedas" id="moeda" name="preco_aula">
                        <input type="button" value="+" id="btn-mais-moeda">
                      </div>
                      <div class="info-time">
                        <input type="button" value="-" id="btn-menos-tempo">
                        <input type="button" value="15 min" id="time" name="duracao_aula">
                        <input type="button" value="+" id="btn-mais-tempo">
                      </div>
                    </div>
                  </div>
                  
                </div>
                <textarea name="descricao" rows="4" placeholder="Seu texto aqui ..." class="texto texto-post"
                maxlength="250" required></textarea>
                <div class="quantidade-caracteres">
                  <p class="texto">250</p>
                </div>
              </div>
            </article>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-2-l" data-dismiss="modal">Descartar</button>
            <input type="submit" class="btn btn-2-d" value="Publicar">
          </div>
          
        </form>
        
      </div>
    </div>
  </div>
  <!--FIM DO MODAL MOBILE-->
  
  
  <script src="/js/personalizar-publicacao.js"></script>
  <script src="/js/upload-image-postagem.js"></script>
  
  
  