<section id="notificacoes" class="container-fluid">
  <div class="row notificacoes-header">
    <div class="col">
      <h1>Últimas notificações</h1>
    </div>
  </div>

  <% for (let notificacao of lista_notificacoes) { %>
  <div class="aula" data-idMensagemUsuario="<%= notificacao.id %>" onclick="location.href='/users/perfil-usuario?perfil=<%=notificacao.perfil_notificacao.id%>'">
    <img src="/img/profile-img/<%=notificacao.perfil_notificacao.avatar%>" class="rounded-circle" alt="<%=notificacao.perfil_notificacao.nome%>">
    <div class="col">
      <p><strong><%=notificacao.perfil_notificacao.nome%> </strong>  <%=notificacao.descricao_notificacao.descricao%></p>
    </div>
  </div>
  <% } %>

  

</section>