<section id="perfil-detalhe">
  <div class="capa-perfil-detalhe" style="background-image: url(/img/profile-img/<%=perfil.capa%>);">
    <img src="/img/profile-img/<%=perfil.avatar%> " alt="avatar" class="avatar">
    <div class="trofeu">
      <div class="icone">
        <i class="fas fa-trophy"></i>
      </div>
      <div class="posicao">

        <% for( let pos = 0; pos < ranking.length; pos++ ) { %>
          <% if (pos.usuario_id == perfil.id) { %>
            +<%=pos + 1%> <span>&#8304;</span>
          <% }else{ %>
          +<%=ranking.length + 1%> <span>&#8304;</span>
          <%}%>
        <% } %>

      </div>
    </div>
  </div>
  <div class="info">
    <h1 class="nome"><%=perfil.nome%></h1>
    <h2 class="faculdade"><%=perfil.instituicao.descricao%>, <%=perfil.turma%> </h2>
    <h2 class="cidade"><%=perfil.cidade.nome%></h2>
    <p class="frase"><%=perfil.bio%></p>
    <p class="email"><%=USER.email%></p>
    <p class="contato"><%=perfil.celular%> </p>
    <div class="interesses-div">
      <div class="interesses-aprendizado">
        <h4 class="interesse subtitulo">Interessada em</h4>
        <ul class="interesse-aprendizado-ul">
          <li>#Economia</li>
          <li>#Pilates</li>
          <li>#Acumputura</li>
          <li>| <%=perfil.aprendizado.descricao%> </li>
        </ul>
      </div>
      <div class="interesses-ensino">
        <h4 class="ensino">Ensina</h4>
        <ul class="interesse-ensino-ul">
          <li>#Dança</li>
          <li>#Teatro</li>
          <li>#Pintura</li>
          <li>| <%=perfil.ensino.descricao%></li>
        </ul>
      </div>
    </div>
  </div>
</section>
