<section id="perfil" data-idPerfilAtual="<%=perfil.id%>" onclick="redirecionarParaPerfil(this)">
  <div class="capa-perfil" style="background-image: url(/img/profile-img/<%=perfil.capa%>);">
    <img src="/img/profile-img/<%=perfil.avatar%> " alt="avatar" class="avatar">
  </div>
  <div class="info">
    <h1 class="nome"><%=perfil.nome.slice(0,10)%>...</h1>
    <h2 class="faculdade"><%=perfil.instituicao.descricao.slice(0,15)%>...</h2>
    <p class="profissao"><%=perfil.curso.descricao.slice(0,10)%>...</p>
    <p class="frase"><%=perfil.bio.slice(0,50)%>...</p>
  </div>
  <div class="perfil-atributos">
    <ul class="perfil-atributos-ul">
      <li class="perfil-atributos-ul-li">
        <span class="icone"><i class="fas fa-coins"></i></span>
        <span class="valor"><%=perfil.qtd_moedas%></span>
        <p>Moedas</p>
      </li>
      <li class="perfil-atributos-ul-li">
        <span class="icone"><i class="fas fa-award"></i></span>
        <span class="valor"><%=perfil.qtd_medalhas%></span>
        <p>Medalhas</p>
      </li>
      <li class="perfil-atributos-ul-li">
        <span class="icone"><i class="fas fa-star"></i></span>
        <span class="valor"><%=perfil.nota_professor%></span>
        <p>Nota Professor</p>
      </li>
      <li class="perfil-atributos-ul-li">
        <span class="icone"><i class="fas fa-star"></i></span>
        <span class="valor"><%=perfil.nota_aluno%></span>
        <p>Nota Aluno</p>
      </li>
    </ul>
  </div>
</section>

<script>
  
  function redirecionarParaPerfil(element){
    let id = element.attributes[1].textContent;
    console.log(id);
    let paginaAtual = location.pathname;
    if(paginaAtual == '/users/home'){
      location.href='/users/perfil';
    }else{
      location.href=`/users/perfil-usuario?perfil=${id}`
    }
  };
</script>
