<script src="/js/fetch-post.js"></script> 
<script src="/js/fetch-post-moeda.js"></script> 
<% for( let post of postagens ) { %> 
    <section class="post-feed container">
      
      <header class="post-feed-header" onclick="location.href='/users/perfil-usuario?perfil=<%=post.usuario_id%>'">
        <div class="post-feed-header-avatar">
          <img src="/img/profile-img/<%=post.perfil.avatar%>" alt="avatar">
        </div>
        <div>
          <h1 class="user-name subtitulo"><%=post.perfil.nome%></h1>
          <h2 class="user-estudo texto"><%=post.perfil.curso.descricao%></h2>
          <span class="data-post texto"><%=moment(post.data_hora).format('DD/MM hh:mm').toString()%> </span>
        </div>
      </header>
      
      <article class="post-feed-article">
        <div class="img-post">
          <img src="/img/posts-img/<%=post.imagem%>" alt="">
        </div>
        <div class="user-info">                              
          <h1 class="titulo"><%=post.titulo%></h1>
          <h2><%=post.categoria.descricao%></h2>
          <p>
            <%=post.descricao%>
          </p>
        </div>
      </article>
      
      <footer class="post-footer">
        <div class="post-footer-div">


  <button class="btn-1b-l btn-legenda" data-id_post="<%=post.id%>" data-usuario_id="<%=post.usuario_id%>"
  onclick="salvarMedalhas(this)"><span
  class="reacoes"><%=post.quantidade_medalhas%></span><span class="icone"><i
  class="fas fa-award"></i></span><span class="texto-botao">medalhas</span>
  </button>

  <button class="btn-1b-l btn-legenda"><span class="reacoes"><%=post.comentarios.length%></span><span class="icone"><i
  class="far fa-comment-alt"></i></span><span class="texto-botao">comentários</span>
  </button>

  <button class="btn-1b-l btn-legenda"><span class="reacoes"><%=post.quantidade_apoios%></span><span class="icone"><i
  class="fas fa-coins"></i></span><span class="texto-botao">apoios</span>
  </button>
</div>
                <div class="post-coment">
                  
                  <form method="POST" action="/users/comentarios" class="post-coment-form">
                    <input type="hidden" value="<%=post.id%> " name="post_id">
                    <div class="img-avatar-coment">
                      <img src="/img/profile-img/<%=perfil.avatar%> " alt="avatar">
                    </div>
                    <div class="div-input-comentario">
                      <input type="text" name="texto" class="input-comentario" autocomplete="off">
                    </div>
                  </form>
                  
                  <ul class="footer-coment-ul">
                    
                    <% for( let coment of post.comentarios ) { %>
                      <li class="li-comentario">
                        <div class="img-avatar-coment">
                          <img src="/img/profile-img/<%=coment.perfil_coment.avatar%>" alt="avatar">
                        </div>
                        <div class="div-li-comentario">
                          <p class="li-comentario texto"><%=coment.texto%> </p>
                        </div>
                      </li>
                      <% } %>
                      
                    </ul>
                    
                  </div>
                </footer>
                
              </section>
              <% } %>