<section id="apoia" class="container">
  <div class="row apoia-header">
    <!-- <div class="col"> -->
      <nav>
        <ul class="ul-apoio">
          <li><a class="apoiar" href="/users/apoio">Apoiados</a></li>
          <li><a class="active titulo" href="/users/apoiadores">Apoiadores</a></li>
        </ul>
      </nav>
      
      <!-- </div> -->
    </div>
      <% for( let apoiador of apoiadores  ) { %>

    <div class="row apoia">
      <img src="/img/profile-img/<%=apoiador.apoiador.avatar%>" class="rounded-circle" alt="marina">
      <div class="col">
        <h2 class="subtitulo"><%=apoiador.apoiador.nome%></h2>
        <h3 class="texto"><%=apoiador.apoiador.curso.descricao.slice(0,17)%>...</h3>
      </div>
      <div class="col">
        <input type="button" value="Apoiar" class=btn-1-d data-toggle="modal" data-target="#modalDeApoiar"
        data-apoiador_id="<%=apoiador.apoiador.id%>" onclick="definirId(this)">
      </div>
    </div>

     <% } %>
  
  <%- include('./model-apoia') -%>
  <%- include('./model-apoiados') -%>
</section>